
.col-md-offset-05 {
	margin-left: 4.15%;
}

.ripple-wrapper{
	margin: 0;
	padding: 2rem;

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ripple-wrapper *:after {
	content: attr(data-txt);
}

.widget-description{
	margin-top: 10px;
}

.icon-container div{
	padding-left: 1rem;
	padding-right: 1rem;
}

.list-container .fa{
	font-size: 2rem;
}

.fork-link a, .fork-link a:focus, .fork-link a:hover{
	color: #b1b1b1;
}

.source-button{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-weight: bold;
    padding: 5px 10px;
}

.dev-container{
	display: none;
}
